.metadata/
webproject/.settings/
webproject/target/
webproject/.project
webproject/.classpath
RemoteSystemsTempFiles/.project
.recommenders/
calc/.settings/
calc/.project
calc/.classpath
paret/.classpath
paret/.gitignore
paret/.project
paret/.settings/.jsdtscope
paret/.settings/
